{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8" />
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <title>SDS System</title>

        <!-- Ajax -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!-- Jquery -->
        <script
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"
        ></script>
        <!-- Popper -->
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"
        ></script>
        <!-- Bootstrap JS-->
        <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"
        ></script>
        <!-- Bootstrap CSS-->
        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous"
        />
        <!-- Fontawesome -->
        <script
            src="https://kit.fontawesome.com/8d1d703781.js"
            crossorigin="anonymous"
        ></script>
        <link
            rel="stylesheet"
            href="{% static '/css/main.css' %}"
            type="text/css"
        />
        <link
            rel="stylesheet"
            href="{% static '/css/content.css' %}"
            type="text/css"
        />
    </head>

    <body class="wrapper">
        {% include "signin-modal.html" %} 
        {% include "alert-modal.html" %} 
        {% block modal %} {% endblock %}

        <div id="content">
            {% block content %} {% endblock %}
        </div>
        <script src="{% static 'js/reconnecting-websocket.js' %}"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                var clipwidth = $(".embeded-clip").width();
                $(".embeded-clip").height(clipwidth / 1.77);
            });
        </script>
        <script type="text/javascript">
            $(document).ready(function () {
                $("#sidebarCollapse").on("click", function () {
                    $("#sidebar").toggleClass("active");
                });
            });
        </script>
        <script>
            if (performance.navigation.type == 2) {
                console.log("Page is reloading");
                location.reload(true);
            }
        </script>
        {{ unreadNotis|json_script:"unreadNotis" }}
        <script>
            let notiCount = JSON.parse(document.getElementById('unreadNotis').textContent);

            let vietnameseAlerts = {
                Noeye: "Không thấy khuôn mặt",
                Alcohol: "Đồ uống có cồn",
                Drowsiness: "Không tỉnh táo",
            }

            // Notify
            const notify = () => {
                const notiCountFrontEnd = document.getElementById("noti-count");
                notiCount++;
                notiCountFrontEnd.innerText = notiCount;
            }

            // Add notification to the dropdown
            const notifyDetail = (alertType, licensePlate, time, driveUrl) => {
                // Dropdown container
                const notiLinks = document.querySelector("#dropdown-notification .dropdown-menu-right");

                const notiTitle = document.createElement("p");
                notiTitle.classList.add("noti-title");
                notiTitle.innerText = `${vietnameseAlerts[alertType]}: ${licensePlate}`;

                const notiTime = document.createElement("p");
                notiTime.classList.add("noti-time");
                notiTime.innerHTML = `${time} <span class="danger-circle">&#11044;</span>`;

                const link = document.createElement("a");
                link.href = `${driveUrl}`;
                link.classList.add("dropdown-item");
                link.classList.add("dropdown-menu-right");
                link.classList.add("noti-uncheck");
                link.appendChild(notiTitle);
                link.appendChild(notiTime);

                const preLinks = notiLinks.querySelectorAll("a:not(.noti-more)");

                if (preLinks.length >= 5) {
                    const lastNotiIndex = preLinks.length - 1;
                    notiLinks.removeChild(preLinks[lastNotiIndex]);
                }
                notiLinks.prepend(link);
            }
    
        </script>

        {% block websocket %} {% endblock %}
    </body>
</html>
