<!-- Search Modal -->
<div
class="modal fade top"
id="SearchModal"
tabindex="-1"
role="dialog"
aria-labelledby="SearchModalLabel"
aria-hidden="true"
>
<div class="modal-dialog modal-frame modal-top" role="">
    <div class="modal-content">
        <form
            class="
                search-bar
                align-middle
                d-flex
                justify-content-center
            "
            method="get"
        >
            <input
                class="search-input"
                type="text"
                name="search-key"
                value=""
                placeholder="Nhập tên xe cần tìm kiếm ..."
            />
            <input
                class="btn search-btn"
                type="submit"
                name="search-btn light-blue-btn"
                value="TÌM"
            />
        </form>
    </div>
</div>
</div>