{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Welcome page</title>
        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous"
        />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://kit.fontawesome.com/8d1d703781.js"
            crossorigin="anonymous"
        ></script>
        <link
            rel="stylesheet"
            href="{% static '/css/main.css' %}"
            type="text/css"
        />
        <link
            rel="stylesheet"
            href="{% static '/css/welcome.css' %}"
            type="text/css"
        />
    </head>

    <style>
        /* #successModal {
            position: relative;
        } */

        #successModal .modal-content {
            max-width: max-content;
        }

        #successModal i {
            position: absolute;
            right: 10px;
            cursor: pointer;
            z-index: 1000;
        }

        
    </style>

    <body class="full-height-grow">
        <!-- MODALS -->
        <!-- Sign In Modals -->
        <div
            class="modal fade"
            id="SignInModal"
            tabindex="-1"
            role="dialog"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
        >
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Sign in form  -->
                    <section class="form">
                        <p class="title">ĐĂNG NHẬP</p>
                        <form id="SignInForm" method="POST">
                            <input
                                autocomplete="off"
                                name="hidden"
                                type="text"
                                style="display: none"
                            />
                            {% csrf_token %}
                            <!-- User name -->
                            <div class="form-field">
                                <input
                                    type="text"
                                    name="login-username"
                                    id="login-email"
                                    placeholder=" "
                                    required
                                    autocomplete="nope"
                                />
                                <label for="login-username">
                                    <span class="input-label"
                                        >Email
                                        <span class="required-star"
                                            >*</span
                                        ></span
                                    >
                                </label>
                            </div>
                            <!-- Password -->
                            <div class="form-field">
                                <input
                                    type="password"
                                    name="login-password"
                                    id="login-password"
                                    placeholder=" "
                                    required
                                    autocomplete="new-password"
                                />
                                <label for="login-password">
                                    <span class="input-label"
                                        >Mật khẩu
                                        <span class="required-star"
                                            >*</span
                                        ></span
                                    >
                                </label>
                            </div>
                            <!-- Remember -->

                            <div class="form-field">
                                {% for message in messages %}
                                <h5 style="font-size: 14px; color: red">{{ message|striptags }}</h5>
                                {% endfor %}
                            </div>
                            <!-- Sign in button  -->
                            <div class="form-field buttons">
                                <button
                                    id="SignInBtn"
                                    type="submit"
                                    href="#"
                                    class="btn blue-btn long-btn"
                                >
                                    ĐĂNG NHẬP
                                </button>
                            </div>
                        </form>
                    </section>
                </div>
            </div>
        </div>

        <!-- Register Modals | Account Modals -->
        <div
            class="modal fade"
            id="RegisterModal"
            tabindex="-1"
            role="dialog"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
        >
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Register form  -->
                    <section class="form" autocomplete="off">
                        <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                        <p class="title">ĐĂNG KÝ</p>
                        <p class="messages" id="register-message"></p>
                        <form id="RegisterForm" method="POST">
                            {% csrf_token %}
                            <!-- Full name -->
                            <div class="form-field">
                                <input
                                    type="text"
                                    name="companyName"
                                    id="company-name"
                                    placeholder=" "
                                    required
                                    autocomplete="nope"
                                />
                                <label for="companyName">
                                    <span class="input-label"
                                        >Tên công ty
                                        <span class="required-star"
                                            >*</span
                                        ></span
                                    >
                                </label>
                            </div>
                            <!-- Register email -->
                            <div class="form-field">
                                <input
                                    type="email"
                                    name="email"
                                    id="registers-email"
                                    placeholder=" "
                                    required
                                    autocomplete="nope"
                                />
                                <label for="register-email">
                                    <span class="input-label"
                                        >Email
                                        <span class="required-star"
                                            >*</span
                                        ></span
                                    >
                                </label>
                            </div>
                            <!-- Password -->
                            <div class="form-field">
                                <input
                                    type="password"
                                    name="password1"
                                    id="register-password"
                                    placeholder=" "
                                    required
                                    autocomplete="new-password"
                                />
                                <label for="register-password">
                                    <span class="input-label"
                                        >Mật khẩu
                                        <span class="required-star"
                                            >*</span
                                        ></span
                                    >
                                </label>
                            </div>
                            <!-- Confirm password -->
                            <div class="form-field">
                                <input
                                    type="password"
                                    name="password2"
                                    id="register-confirm"
                                    placeholder=" "
                                    required
                                />
                                <label for="register-confirm">
                                    <span class="input-label"
                                        >Xác nhận mật khẩu
                                        <span class="required-star">*</span>
                                    </span>
                                </label>
                            </div>

                            <div class="form-field">
                                {% for msg in errors %}
                                <h5 style="font-size: 14px; color: red">{{ msg|striptags }}</h5>
                                {% endfor %}
                            </div>
                            <!-- Sign in button  -->
                            <div class="form-field buttons">
                                <button
                                    id="RegisterBtn"
                                    type="submit"
                                    href="#"
                                    class="btn yellow-btn long-btn"
                                >
                                    ĐĂNG KÝ
                                </button>
                            </div>
                        </form>
                    </section>
                </div>
            </div>
        </div>
        
        <!-- Success modal -->
        <div class="modal fade" id="successModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <i class="fas fa-times-circle"></i>
                    <div class="modal-body">
                        Bạn đã đăng ký tài khoản thành công
                    </div>
                </div>
            </div>
        </div>

        <!-- Content -->
        <header class="main-header">
            <nav
                class="
                    navbar navbar-expand-sm
                    sticky-top
                    top-nav
                    justify-content-between
                "
            >
                <a href="#" class="navbar-brand logo">
                    <img src="{% static '/images/web/branch.svg' %}" alt="" />
                </a>
                <ul class="navbar-nav justify-content-end">
                    <li class="nav-item">
                        <a data-toggle="modal" data-target="#SignInModal"
                            >ĐĂNG NHẬP</a
                        >
                    </li>
                    <li class="nav-item">
                        <a data-toggle="modal" data-target="#RegisterModal">
                            ĐĂNG KÝ
                        </a>
                    </li>
                </ul>
            </nav>
        </header>

        <div class="container">
            <!-- SECTION 1: ABOUT SECTION -->
            <section class="section1 about-section">
                <div class="img-wrapper">
                    <div class="about-background background"></div>
                </div>
                <div class="section-content about-content">
                    <h1 class="title">SAFE DRIVING SYSTEM</h1>
                    <p class="subtitle">
                        Bạn đồng hành đáng tin cậy của mọi người lái xe
                    </p>
                    <a data-toggle="modal" data-target="#RegisterModal" class="btn yellow-btn short-btn large-btn"> TẠO TÀI KHOẢN </a>
                </div>
            </section>

            <p class="middle-text">Cùng tìm hiểu hệ thống lái xe an toàn</p>

            <!-- SECTION 2: WHAT IS SDS -->
            <section class="section2 definition-section">
                <div class="img-wrapper">
                    <div class="definition-background background"></div>
                </div>
                <div class="section-content definition-content">
                    <div class="leftside">
                        <div class="img-wrapper">
                            <img
                                src="{% static '/images/web/definition-image.png' %}"
                            />
                        </div>
                    </div>
                    <div class="rightside">
                        <h1 class="title">SDS là gì?</h1>
                        <p>
                            Kết hợp công nghệ trí tuệ nhân tạo cùng với cảm biến
                            nồng độ cồn và camera hành trình để nhận biết trạng
                            thái của người điều khiển ô tô và đưa ra các phương
                            pháp xử lý thích hợp. Qua đó, SDS mang lại trải
                            nghiệm lái xe an toàn cho bạn và mọi người.
                        </p>
                    </div>
                </div>
            </section>

            <p class="middle-text">Tính năng nổi bật của SDS</p>

            <!-- SECTION 3: FEATURES SECTION -->
            <section class="section3 features-section">
                <div class="features-content">
                    <div class="leftside">
                        <img src="{% static '/images/web/item1.png' %}" />
                        <p class="rectangle">Nhận diện</p>
                        <p>
                            Công nghệ nhận dạng cảm xúc, cử chỉ thông qua camera
                            và cảm biến nồng độ cồn để dự đoán trạng thái của
                            người điểu khiển ô tô.
                        </p>
                    </div>
                    <div class="middle">
                        <img src="{% static '/images/web/item2.png' %}" />
                        <p class="rectangle">Giải pháp</p>
                        <p>
                            Sử dụng cơ chế khóa nguồn xe và thông báo âm thanh
                            để cảnh báo người dùng.
                        </p>
                    </div>
                    <div class="rightside">
                        <img src="{% static '/images/web/item3.png' %}" />
                        <p class="rectangle">Quản lý</p>
                        <p>
                            Ứng dụng cơ sở dữ liệu thời gian thực trên nền tảng
                            web để theo dõi và quản lý đồng thời nhiều thiết bị.
                        </p>
                    </div>
                </div>
            </section>

            <!-- SECTION 4: CALL TO ACTION  -->
            <section class="section4 register-section">
                <div class="section-content call-to-action">
                    <div class="leftside">
                        <p class="slogan title">
                            HÃY CÙNG NHAU BẮT ĐẦU MỘT HÀNH TRÌNH MỚI
                        </p>
                    </div>
                    <div class="rightside">
                        <div class="cta-form">
                            <h1 class="title">THAM GIA VỚI CHÚNG TÔI</h1>
                            <p class="subtitle">
                                Lorem ipsum dolor sit amet, consectetur
                            </p>
                            <!-- Register Form -->
                            <form method="POST">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="cta-name">
                                        Tên công ty
                                        <span class="required-star">*</span>
                                    </label>
                                    <input
                                        type="text"
                                        name="companyName"
                                        class="form-control"
                                        id="cta-name"
                                        required
                                        autocomplete="nope"
                                    />
                                </div>
                                <div class="form-group">
                                    <label for="email">
                                        Email
                                        <span class="required-star">*</span>
                                    </label>
                                    <input
                                        type="email"
                                        name="email"
                                        class="form-control"
                                        id="cta-email"
                                        required
                                        autocomplete="nope"
                                    />
                                </div>
                                <div class="form-group">
                                    <label for="password1">
                                        Mật khẩu
                                        <span class="required-star">*</span>
                                    </label>
                                    <input
                                        type="password"
                                        name="password1"
                                        class="form-control"
                                        id="cta-password"
                                        required
                                    />
                                </div>
                                <div class="form-group">
                                    <label for="password2">
                                        Xác nhận mật khẩu
                                        <span class="required-star">*</span>
                                    </label>
                                    <input
                                        type="password"
                                        name="password2"
                                        class="form-control"
                                        id="cta-confirm"
                                        required
                                    />
                                </div>
                                <div class="form-group">
                                    <button
                                        id="CtaBtn"
                                        type="submit"
                                        href="#"
                                        class="btn yellow-btn long-btn"
                                    >
                                        ĐĂNG KÝ
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="img-wrapper">
                    <div class="register-background background"></div>
                </div>
            </section>
        </div>

        <div class="container-fluid">
            <footer class="row">
                <div class="logo col">
                    <!-- <img src="images/branch-yellow.svg"> -->
                </div>
                <div class="options col">
                    <a href="#">Về chúng tôi</a>
                    <a href="#">Hợp tác</a>
                    <a href="#">Câu hỏi thường gặp</a>
                    <a href="#">Hỗ trợ</a>
                    <a href="#">Chính sách bảo mật</a>
                </div>
                <div class="contact col">
                    <h1>Liên hệ</h1>
                    <p>Số điện thoại: (+84) 0907 890 278</p>
                    <p>Email: nucuoimoi@gmail.com</p>
                    <p>
                        Địa chỉ: Khu 2, đường 3/2, phường Xuân Khánh, Q.Ninh
                        Kiều, TP.Cần Thơ, Việt Nam
                    </p>
                    <div>
                        <a href=""
                            ><i class="fa fa-facebook" style="color: white"></i
                        ></a>
                        <a href=""><i class="fab fa-instagram"></i></a>
                        <a href=""><i class="fab fa-twitter"></i></a>
                    </div>
                </div>
            </footer>
        </div>
    </body>
</html>

<script>
    const newAccount = "{{ newAccount }}";

    if (newAccount === "True") {
        $("#successModal").modal("show");
    }

    $("#successModal i").click(() => {
        $("#successModal").modal("hide");
    })
    
</script>
