{% extends 'base.html' %}
{% load static %}


{% block modal %}
{% include 'search-modal.html' %}
{% include 'sidebar.html' %}
{% endblock modal %}

{% block content %}
{% include "navbar-search.html" %}
<div class="content-container">
    <h3>Danh sách các báo động</h3>
    {% for alert in alerts %}
    <div style="background: lightblue; margin-bottom: 50px;" class="alertr-container">
        <br>
        <h3>Canh cao {{ alert.drive.device.car.licensePlate }}: </h3>
        <h3>Loai canh cao: {{ alert.detect }}</h3>
        <h3>TG xay ra: {{ alert.timeOccured }}</h3>
        <a style="color: whitesmoke;" class="btn btn-danger" href="{% url 'driveDetail' alert.drive.id %}">Xem chi tiết hành trình</a>
        <br>
    </div>
    {% endfor %}
</div>

{% endblock content %}

{% block websocket %} 
{% include "websocket.html" %}
{% endblock %}