<script>
    let notiCount = {{ unreadNotis }};

    // Show notification
    const notify = () => {
        const notiCountFrontEnd = document.getElementById("noti-count");
        notiCount++;
        notiCountFrontEnd.innerText = notiCount;
    }

    // Add notification to the dropdown
    const notifyDetail = (alertType, licensePlate, time, driveUrl) => {
        // Dropdown container
        const notiLinks = document.querySelector("#dropdown-notification .dropdown-menu-right");

        const notiTitle = document.createElement("p");
        notiTitle.classList.add("noti-title");
        notiTitle.innerText = `${alertType}: ${licensePlate}`;

        const notiTime = document.createElement("p");
        notiTime.classList.add("noti-time");
        notiTime.innerHTML = `${time} <span class="danger-circle">&#11044;</span>`;

        const link = document.createElement("a");
        link.href = `${driveUrl}`;
        link.classList.add("dropdown-item");
        link.classList.add("dropdown-menu-right");
        link.classList.add("noti-uncheck");
        link.appendChild(notiTitle);
        link.appendChild(notiTime);

        const preLinks = notiLinks.querySelectorAll("a:not(.noti-more)");

        if (preLinks.length >= 5) {
            const lastNotiIndex = preLinks.length - 1;
            notiLinks.removeChild(preLinks[lastNotiIndex]);
        }
        notiLinks.prepend(link);
    }

    const getImage = (imgByte) => {
        const carousel = document.querySelector(".carousel-inner");
        const indicator = document.querySelector(".carousel-indicators");
        const imgCount = indicator.childElementCount;

        const imgContainer = document.createElement("div");
        imgContainer.classList.add("carousel-item");
        if (imgCount == 0) imgContainer.classList.add("active");

        imgContainer.innerHTML = `
                <img class="d-block w-100" src="data:image/png;base64,${imgByte}"
                    alt="Fourth slide">
        `;
        carousel.appendChild(imgContainer);

        indicator.innerHTML = indicator.innerHTML + `<li data-target="#carouselExampleIndicators" data-slide-to="${imgCount}"></li>`;
    }
</script>
<script>
    const room = "{{ request.user.profile.company.roomCode }}";
    const driveID = "{{ drive.id }}";
    const piDeviceID = "{{ drive.device.id }}";

    let socketUrl = `ws://${window.location.host}/ws/realtime/${room}/none/`;
    let socket = new ReconnectingWebSocket(socketUrl);

    let imageTaken = false;

    socket.onopen = function (e) {
        alert("Connection established");
        socket.send(
            JSON.stringify({
                command: "getVideo",
                piDeviceID: piDeviceID,
                driveID: driveID,
            })
        );
    };

    socket.onmessage = function (e) {
        let data = JSON.parse(e.data);
        console.log(data);

        // handle notifications
        if (data["messageType"] === "notification") {
            notify();
            const { alertType, licensePlate, time, driveUrl } = data;
            notifyDetail(alertType, licensePlate, time, driveUrl);
        }
        // Receive message from server 
        else if (data["messageType"] === "sendImg") {
            imageTaken = true;
            if (data["driveID"] === driveID) {
                console.log("Here is the image");
                getImage(data["frame"]);
                const pictureSections = document.getElementById("pictures-section");
                pictureSections.classList.remove("hide-picture");
                imageTaken = true;
            }
        }
        else if (data["messageType"] === "status") {
            if (data["piID"] == piDeviceID && data["status"] && !imageTaken) {
                socket.send(
                    JSON.stringify({
                        command: "getVideo",
                        piDeviceID: piDeviceID,
                        driveID: driveID,
                    })
                );
            }
            if (data["driveID"] == driveID && !data["status"]) {
                console.log(`Chuyen xe ${driveID} da ket thuc`)
                const statusInfo = document.getElementById("status");
                const today = new Date();
                const date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
                const time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
                const dateTime = date+' '+time;
                statusInfo.innerHTML = `
                    <p class="col-5">Thời gian kết thúc:</p>
                    <p class="col-7">${dateTime}</p>
                `;
            }
        }
    };

    socket.onclose = function (e) {
        alert("Connection closed");
    };
</script>
