<script>
    let notiCount = {{ unreadNotis }};

    const notify = () => {
        const notiCountFrontEnd = document.getElementById("noti-count");
        notiCount++;
        notiCountFrontEnd.innerText = notiCount;
    }

    // Add notification to the dropdown
    const notifyDetail = (alertType, licensePlate, time, driveUrl) => {
        // Dropdown container
        const notiLinks = document.querySelector("#dropdown-notification .dropdown-menu-right");

        const notiTitle = document.createElement("p");
        notiTitle.classList.add("noti-title");
        notiTitle.innerText = `${alertType}: ${licensePlate}`;

        const notiTime = document.createElement("p");
        notiTime.classList.add("noti-time");
        notiTime.innerHTML = `${time} <span class="danger-circle">&#11044;</span>`;

        const link = document.createElement("a");
        link.href = `${driveUrl}`;
        link.classList.add("dropdown-item");
        link.classList.add("dropdown-menu-right");
        link.classList.add("noti-uncheck");
        link.appendChild(notiTitle);
        link.appendChild(notiTime);

        const preLinks = notiLinks.querySelectorAll("a:not(.noti-more)");

        if (preLinks.length >= 5) {
            const lastNotiIndex = preLinks.length - 1;
            notiLinks.removeChild(preLinks[lastNotiIndex]);
        }
        notiLinks.prepend(link);
    }

    const getImage = (imgByte) => {
        const carousel = document.querySelector(".carousel-inner");
        const indicator = document.querySelector(".carousel-indicators");

        const imgContainer = document.createElement("div");
        imgContainer.classList.add("carousel-item");
        imgContainer.innerHTML = `
                <img class="d-block w-100" src="data:image/png;base64,${imgByte}"
                    alt="Fourth slide">
        `;
        carousel.appendChild(imgContainer);

        var imgCount = indicator.childElementCount;
        console.log(imgCount);
        indicator.innerHTML = indicator.innerHTML + `<li data-target="#carouselExampleIndicators" data-slide-to="${imgCount}"></li>`;
    }
</script>
<script>
    const room = "{{ request.user.profile.company.roomCode }}";
    const driveID = "{{ drive.id }}";
    const piDeviceID = "{{ drive.device.id }}";

    let socketUrl = `ws://${window.location.host}/ws/realtime/${room}/none/`;
    let socket = new WebSocket(socketUrl);

    let imageTaken = false;

    socket.onopen = function (e) {
        alert("Connection established");
        socket.send(
            JSON.stringify({
                command: "getVideo",
                piDeviceID: piDeviceID,
                driveID: driveID,
            })
        );
    };

    socket.onmessage = function (e) {
        let data = JSON.parse(e.data);
        console.log(data);

        if (data["messageType"] === "notification") {
            notify();
            const { alertType, licensePlate, time, driveUrl } = data;
            notifyDetail(alertType, licensePlate, time, driveUrl);
        } else if (data["messageType"] === "sendImg") {
            imageTaken = true;
            if (data["driveID"] === driveID) {
                console.log("Here is the image");
                getImage(data["frame"]);
                const pictureSections = document.getElementById("pictures-section");
                pictureSections.classList.remove("hide-picture");
                imageTaken = true;
            }
        }
        else if (data["messageType"] === "status") {
            if (data["piID"] == piDeviceID && data["status"] && !imageTaken) {
                socket.send(
                    JSON.stringify({
                        command: "getVideo",
                        piDeviceID: piDeviceID,
                        driveID: driveID,
                    })
                );
            }
        }
    };

    socket.onclose = function (e) {
        alert("Connection closed");
    };
</script>
