{% extends 'base.html' %}
{% load static %}

{% block modal %}
{% include "sidebar.html" %}
{% endblock modal %}

{% block content %}
{% include 'navbar.html' %}
<style>
    .driver-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
        border-radius: 1000px;
    }

    .driver-container h3 {
        margin: 0;
        padding: 0;
        font-size: 18px;
    }

    .driver-container__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .driver-container__info i {
        font-size: 50px;
        margin-bottom: 1rem;
    }

    .driver-container__info h3 {
        font-size: 1.5rem;
    }

    .driver-container__time h3 {
        font-size: 1.5rem;
        letter-spacing: 1px;
        margin: .5rem;
    }


    .driver-container a {
        text-decoration: none;
    }

    .driver-container .fa-arrow-up {
        font-size: 30px;
        color: var(--navy)
    }
</style>
<div class="content-container">
    <h3>Các chuyến đi của {{ car.name }} ({{ car.licensePlate }})</h3>
    {% if drs|length == 0 %}
    <h4 style="margin-top: 2rem;">Không có chuyến xe nào được ghi nhận</h4>
    {% endif %}
    {% for drive in drs %}
    <div   
        style="
            {% if drive.endTime %}
            background: lightblue; 
            {% else%}
            background: lightgreen; 
            {% endif %}

            margin-bottom: 50px;"
        
        class="driver-container"

        {% if drive.endTime %}
        online="0" 
        {% else%}
        online="1" 
        {% endif %}
    >
        <br>
        <div class="driver-container__info">
            <i class="fas fa-car-side"></i>
            <h3>{{ drive.device.car.licensePlate }} </h3>
        </div>
        <div class="driver-container__time">
            <h3>
                <!-- <i class="fas fa-play"></i>  -->
                Khởi hành: 
                {{ drive.startTime.time }}, ngày {{ drive.startTime.date }}
            </h3>
            {% if drive.endTime %}
            <h3>
                Kết thúc: 
                {{ drive.endTime.time }}, ngày {{ drive.endTime.date }}
            </h3>
            {% else %}
            <h3>Xe dang hoat dong</h3>
            {% endif %}
        </div>
        <a href="{% url 'driveDetail' drive.id  %}"><i style="transform: rotate(90deg);" class="fas fa-arrow-up"></i></a>
        <br>
    </div>
    {% endfor %}
</div>

{% endblock content %}

{% block websocket %} 
{% include "websocket.html" %}
{% endblock %}