{% extends 'accounts/main.html' %} {% load static %} {% block content %}
<style>
    table tbody {
        display: block;
        max-height: 30vh;
        overflow-y: scroll;
    }

    table thead,
    table tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }
</style>

<div class="container">
    <div class="container">
        <h1>{{ pi }}</h1>
        <hr>

        <div class="info">
            {% if pi.status == 'online' %}
            <h2>Status: <span style="color: lightgreen;">Ongoing</span></h2>
            <h3>StartTime: {{ onDrive.startTime }}</h3>

            {% else %}

            <h2>Status: <span style="color: gray;">Ended</span></h2>
            {% endif %}
        </div>
        <hr>
        <div class="historyTable">
            <h3>All previous Drives</h3>
            <div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Driver</th>
                            <th scope="col">Time Start</th>
                            <th scope="col">Time Ended</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for drive in previousDrives %}
                        <tr>
                            <td>{{ drive.device.car.driver }}</td>
                            <td>{{ drive.startTime }}</td>
                            <td>{{ drive.endTime }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</div>
<script>


</script>

<script>
    var piDevice = {};
    piDevice.id = '{{ pi.id }}';
    piDevice.name = '{{ pi.name }}';
    piDevice.status = '{{ pi.status }}';

    let socket = new WebSocket("ws://localhost:8000/ws/realtime/");

    socket.onopen = function (e) {
        alert("Connection established");
    };

    socket.onmessage = function (e) {
        var data = JSON.parse(e.data);
        console.log(data);

        if (typeof data['dis'] !== 'undefined') {
            var offlineDevices = data['dis'];

            for (offDevice of offlineDevices) {
                if (offDevice === piDevice.name) {
                    console.log('yes');
                }
            }
        }
    };

    socket.onclose = function (e) {
        alert("Connection closed");
    };
</script>
{% endblock %}