{% extends 'accounts/main.html' %} {% load static %} {% block content %}
<style>
    table tbody {
        display: block;
        max-height: 10vh;
        overflow-y: scroll;
    }
    table thead,
    table tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }
</style>

<div class="container">
    <h1>{{ pi }}</h1>

    <h3>All previous Drives</h3>
    <div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Driver</th>
                    <th scope="col">Time Start</th>
                    <th scope="col">Time Ended</th>
                </tr>
            </thead>
            <tbody>
                {% for drive in previousDrives %}
                <tr>
                    <td>{{ drive.device.car.driver }}</td>
                    <td>{{ drive.startTime }}</td>
                    <td>{{ drive.endTime }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>
    let socket = new WebSocket("ws://localhost:8000/ws/realtime/");

    socket.onopen = function (e) {
        alert("Connection established");
    };

    socket.onmessage = function (e) {
        var data = JSON.parse(e.data);
        console.log(data);
    };

    socket.onclose = function (e) {
        alert("Connection closed");
    };
</script>
{% endblock %}
