{% extends 'base.html' %}
{% load static %}

{% block modal %}
{% include 'search-modal.html' %}
{% include 'sidebar.html' %}
{% endblock modal %}


{% block content %}
{% include 'navbar-search.html' %}
<div class="content-container">
    {% for drive in drs %}
    <div style="background: lightblue; 
        margin-bottom: 50px;" class="driver-container">
        <br>
        <h3>Chuyen xe cua {{ drive.device.car.licensePlate }} </h3>
        <h3>TG bat dau: {{ drive.startTime }}</h3>
        <h3>TG ket thuc: {{ drive.endTime }}</h3>
        <a href="{% url 'driveDetail' drive.id  %}"><i style="transform: rotate(90deg);" class="fas fa-arrow-up"></i></a>

        <br>
    </div>
    {% endfor %}
</div>
{% endblock content %}

{% block websocket %} 
{% include "websocket.html" %}
{% endblock %}