{% extends 'accounts/main.html' %} {% load static %} {% block content %}
<style>
    table tbody {
        display: block;
        max-height: 30vh;
        overflow-y: scroll;
    }

    table thead,
    table tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }
</style>

<div class="container">
    <div class="container">
        <h1>{{ pi }}</h1>
        <hr>

        <div class="info">
            {% if pi.status == 'online' %}
            <h2>Status: <span style="color: lightgreen;">Ongoing</span></h2>
            <h3>StartTime: {{ onDrive.startTime }}</h3>

            {% else %}

            <h2>Status: <span style="color: gray;">Ended</span></h2>
            {% endif %}
        </div>
        <hr>
        <div class="alert-container">
            <h4>Alerts</h4>
            <ul id="alerts" class="list-group">
            </ul>
        </div>
        <hr>
        <div class="historyTable">
            <h3>All previous Drives</h3>
            <div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Driver</th>
                            <th scope="col">Time Start</th>
                            <th scope="col">Time Ended</th>
                        </tr>
                    </thead>
                    <tbody id="myTable">
                        {% for drive in previousDrives %}
                        <tr>
                            <td>{{ drive.device.car.driver }}</td>
                            <td>{{ drive.startTime }}</td>
                            <td>{{ drive.endTime }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <img id="myImg" src="">
    <br>
    <img src="data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAAAUA
    AAAFCAYAAACNbyblAAAAHElEQVQI12P4//8/w38GIAXDIBKE0DHxgljNBAAO
        9TXL0Y4OHwAAAABJRU5ErkJggg==" alt="Red dot" />
</div>
<script>


</script>

<script>
    var piDevice = {};
    piDevice.id = '{{ pi.id }}';
    piDevice.name = '{{ pi.name }}';
    piDevice.status = '{{ pi.status }}';

    var onDrive = {};

    var alertId = 1;

    if (piDevice.status == 'online') {
        onDrive.startTime = '{{ onDrive.startTime }}';
    }

    var info = document.querySelector('.info');


    // let socket = new WebSocket("ws://localhost:8000/ws/realtime/");
    // let socket = new WebSocket("ws://10.10.32.119:8000/ws/realtime/");
    let socket = new WebSocket("ws://192.168.123.147:8000/ws/realtime/");

    socket.onopen = function (e) {
        alert("Connection established");
    };

    socket.onmessage = function (e) {
        var data = JSON.parse(e.data);
        // console.log(data);

        if (typeof data['dis'] !== 'undefined') {
            var offlineDevices = data['dis'];

            for (offDevice of offlineDevices) {
                if (offDevice === piDevice.name) {
                    piDevice.status = 'offline';
                    onDrive.endTime = data['disTime'];

                    info.innerHTML = '';
                    var h2 = document.createElement('h2');
                    h2.innerHTML = "Status: ";
                    var span = document.createElement('span');
                    span.innerHTML = 'Ended';
                    span.style.color = 'gray';
                    h2.appendChild(span);
                    info.appendChild(h2);

                    var myTableBody = document.getElementById('myTable');
                    tr = myTableBody.insertRow(0);
                    tr.style.backgroundColor = 'lightblue';

                    var td = document.createElement('td');
                    td.innerHTML = "Driver Vinh Mai";
                    tr.appendChild(td);
                    var td = document.createElement('td');
                    td.innerHTML = onDrive.startTime;
                    tr.appendChild(td);
                    var td = document.createElement('td');
                    td.innerHTML = onDrive.endTime;
                    tr.appendChild(td);
                }
            }
        }

        if (typeof data['time'] !== 'undefined') {
            if (piDevice.name === data['name']) {
                if (piDevice.status === 'offline') {
                    piDevice.status = 'online';
                    onDrive.startTime = data['time'];

                    info.innerHTML = '';
                    var h2 = document.createElement('h2');
                    h2.innerHTML = "Status: ";
                    var span = document.createElement('span');
                    span.innerHTML = 'Ongoing';
                    span.style.color = 'lightgreen';
                    var h3 = document.createElement('h3');
                    h3.innerHTML = "StartTime: " + data['time'];
                    h2.appendChild(span);
                    info.appendChild(h2);
                    info.appendChild(h3);
                }
            }
        }

        if (data['command'] === 'alert') {
            console.log('Yes');
            if (piDevice.name === data['name']) {
                var ul = document.getElementById("alerts");
                var li = document.createElement("li");
                var button = document.createElement("button");
                button.setAttribute("class", "btn btn-primary");
                button.innerHTML = "Get Info";
                button.addEventListener("click", function () {
                    socket.send(JSON.stringify({ 'command': 'getInfo', 'timeEnd': data['time'] }));
                    console.log('Da gui', data['time']);
                });
                li.appendChild(button);

                var detection = data['activity'] + ' ' + data['time'];
                li.appendChild(document.createTextNode(detection));
                li.setAttribute("id", alertId); // added line
                ul.appendChild(li);
                alertId += 1;
            }
        }

        if (data['command'] === 'send_video') {
            console.log('Yes')
            if (piDevice.name === data['name']) {
                var dataImg = data['frame'];

                console.log(dataImg);
                document.getElementById("myImg").src = "data:image/png;base64," + dataImg;
            }
        }
    };

    socket.onclose = function (e) {
        alert("Connection closed");
    };
</script>
{% endblock %}