{% extends 'main/index.html' %}
{% load static %}

{% block content %}
<div class='container-fluid activity'>
    <h3>Activity Log from {{ device.name }}</h3>
    <ul class="list-group" id='activity'>

    </ul>
</div>
<script>
    let activities = [];

    {% for act in activity %}
    var act = {}
    act.id = '{{ act.id | safe }}';
    act.name = '{{ act.activityName | safe }}';
    act.time = '{{ act.timeOccured | safe }}';
    activities.push(act);
    {% endfor %}


    function function1(act) {
        var ul = document.getElementById("activity");
        var li = document.createElement("li");
        var link = document.createElement("a");
        var id = String(act.id);

        li.setAttribute("class", "actLi list-group-item");
        li.appendChild(link);
        link.appendChild(document.createTextNode(act.name));
        const url = "{% url 'proof' 10 %}".replace("10", act.id);
        link.href = url;

        if (act.name.includes('Starting')) {
            link.setAttribute("class", "btn actBtn btn-warning");
        }
        else if (act.name.includes('Stopped')) {
            link.setAttribute("class", "btn actBtn btn-warning");
        }
        else {
            link.setAttribute("class", "btn actBtn btn-primary");
        }

        ul.appendChild(li);
    }

    for (act of activities) {
        function1(act);
    }
</script>
<script>
    let piDevice = '{{ device.name | safe }}';
    // let socket = new WebSocket('ws://localhost:8000/ws/realtimeData/');
    let socket = new WebSocket('ws://192.168.123.147:8000/ws/realtimeData/');

    socket.onopen = function (e) {
        alert('Connection Establish');
    };

    socket.onmessage = function (e) {
        var data = JSON.parse(e.data);
        console.log(data);
        if (typeof data['status'] !== 'undefined') {
            if (data['name'] === piDevice) {
                message = data['status'] + data['time'];
                function1(message);
            }
        }

        if (typeof data['dis'] !== 'undefined') {
            message = 'Stopped';
            let disconnectDevices = data['dis'];

            if (disconnectDevices.includes(piDevice)) {
                function1(message);
            }
        }
    };

    socket.onclose = function (e) {
        alert('Connection closed');
    };
</script>
{% endblock %}