{% extends 'main/index.html' %}
{% load static %}

{% block content %}
<div id='devices'>
    <h4>All Devices</h4>
    <table class="table table-sm" id='devicesTable'>
        <tr>
            <th>Name</th>
            <th>Status</th>
        </tr>
        {% for device in devices %}
        <tr>
            <td><a id='link' href="{% url 'activityLog' device.id %}">{{ device.name }}</a></td>
            <td>{{ device.status }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
<script>
    let devices = {{ devicesName | safe }};

    function addStatus() {
        var table = document.getElementById("devicesTable");
        for (var i = 1, row; row = table.rows[i]; i++) {
            for (var j = 0, col; col = row.cells[j]; j++) {
                status = col.innerHTML;
                if (status === 'Offline') {
                    row.classList.add("offline");
                }
                else {
                    row.classList.add("online");
                }
            }
        }
    }


    function changeStatus(piName, status) {
        var table = document.getElementById("devicesTable");
        for (var i = 0, row; row = table.rows[i]; i++) {
            name = row.cells[0].innerHTML;

            if (name.includes(piName)) {
                row.cells[1].innerHTML = status;

                if (status === 'Offline') {
                    row.classList.toggle("offline3");
                }
                else {
                    row.classList.toggle("newClass");
                }
            }
        }
    }

    addStatus();
</script>

<script>
    let socket = new WebSocket('ws://localhost:8000/ws/realtimeData/');

    socket.onopen = function (e) {
        alert('Connection Establish');
    };

    socket.onmessage = function (e) {
        var data = JSON.parse(e.data)
        console.log(data)
        status = data['status'];

        // console.log(data['message']);
        if (status !== 'undefined') {
            piName = data['name'];
            changeStatus(piName, status);
        }
    };

    socket.onclose = function (e) {
        alert('Connection closed');
    };
</script>
{% endblock %}