{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>CRM</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<!-- <link rel="stylesheet" href="{% static '/css/main.css' %}"> -->
</head>
<body>
    <img src="{% static 'images/fox2.jpg' %}" alt="">
    <hr>
	<div class="container-fluid">
    <h1>Đây là chỗ hiện cái hình</h1>
    <img id="myImg" src="{% static 'images/testPic.png' %}" alt="">
    </div>
	<hr>
	<h5>Our footer</h5>
	
</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script>
    let socket = new WebSocket('ws://localhost:8000/ws/sendVideo/');
    // let socket = new WebSocket('ws://192.168.1.121:8000/ws/sendVideo/');
    // let socket = new WebSocket('ws://192.168.0.105:8000/ws/sendVideo/');
    // let socket = new WebSocket('ws://192.168.1.21:8000/ws/sendVideo/');

    socket.onopen = function(e) {
        alert('Connection Establish');
    };

    socket.onmessage = function(e) {
        var imgData = JSON.parse(e.data)
        var name = imgData['imgName']

        var byteStr = imgData['imgByte'];
        document.getElementById("myImg").src = "/static/images/" + name + "_ml.png";
        // document.getElementById("myImg").src = "data:image/png;base64," + byteStr;
        console.log(imgData['noti']);
    };

    socket.onclose= function(e){
        alert('Connection closed');
    };
</script>
</html>