.hide-picture {
    opacity: 0;
    pointer-events: none;
}

.card {
    background-color: rgba(0, 70, 128, 0.13);
    margin-bottom: 1.5em;
    font-style: var(--font2);
}

.card.online {
    background-color: rgba(123, 217, 108, 0.4);
}

.card-body,
.card-detail {
    font-size: 1.2rem;
}

.card-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 1rem 0 1.25rem;
}

.license-plate {
    font-style: var(--font1);
    font-size: 1.5rem;
}

.car-detail .license-plate {
    margin: 0;
}

.active-circle {
    color: var(--green);
}

.danger-circle {
    color: var(--red);
}

.warning-circle {
    color: var(--yellow);
}

.deactive-circle {
    color: var(--cyan-blue);
}

.card .avt {
    margin: 1.25rem 0;
}

.card .info {
    align-items: center;
    margin: 1.25rem 0;
}

.card .more {
    font-weight: bold;
    font-size: 1.8rem;
    text-align: right;
    /* border: 1px solid black; */
    align-self: flex-start;
}

.more a {
    color: var(--navy);
}

.more a:hover {
    text-decoration: none;
}

.clip-section {
    margin: 1rem auto 1rem;
}

.carousel {
    justify-content: center;
    align-self: center;
    width: 65%;
}

.clip-btn {
    color: inherit;
    padding: 1rem 1.5rem;
    text-decoration: none;
    font-family: var(--font1);
    font-weight: 500;
    border-width: 0;
    text-align: center;
    transition: 0.5s;
    width: 32.5%;
    color: var(--black-pearl);
}

.clip-btn:hover {
    text-decoration: none;
    color: white;
}

.btn:hover {
    color: white;
}

.light-blue-btn {
    background: rgba(0, 42, 77, 0.3);
}

.light-blue-btn:hover {
    background: rgba(0, 42, 77, 0.8);
}

.light-yellow-btn {
    background: rgba(255, 152, 0, 0.4);
}

.light-yellow-btn:hover {
    background: rgba(252, 147, 10, 0.8);
}

.light-red-btn {
    background: rgba(241, 94, 94, 0.4);
}

.light-red-btn:hover {
    background: rgba(186, 28, 2, 0.8);
}

.buttons {
    justify-content: space-around;
}

.dropdown-toggle::after {
    content: none;
}

.dropdown-menu {
    padding: 0;
    background: var(--bg-color);
    color: var(--dark-navy);
    text-align: center;
    font-size: 1.2rem;
    font-weight: normal;
}

.dropdown-item {
    color: inherit;
    padding: 0.3rem;
}

.dropdown-item:first-child {
    padding-top: 0.6rem;
}

.dropdown-item:last-child {
    padding-bottom: 0.6rem;
}

.dropdown-item:hover {
    color: var(--bg-color);
    background-color: var(--navy);
}

#dropdown-notification {
    position: relative;
}

#dropdown-notification .dropdown-menu {
    border-left: 1px solid var(--navy);
    border-right: 1px solid var(--navy);
    min-width: 20vw;
    font-family: var(--font1);
    z-index: 1000;
}

#dropdown-notification .dropdown-menu .dropdown-item {
    padding-left: 1rem;
    padding-right: 1rem;
    border-top: 0.25px solid var(--navy);
    border-bottom: 0.25px solid var(--navy);
}

#noti-count {
    position: absolute;
    top: 0;
    left: 70%;
}

.noti-title {
    text-align: left;
    font-size: 1rem;
    margin: 0.5rem 0rem;
}

.noti-time {
    text-align: right;
    font-size: 0.8rem;
    margin: 0.5rem 0rem;
}

.noti-uncheck {
    background-color: rgba(0, 70, 128, 0.13);
}

.noti-uncheck .noti-title {
    font-weight: 500;
}

.noti-more {
    background-color: var(--navy);
    color: white;
}

/* *************
      SIDE BAR
  ************** */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#content {
    width: inherit;
}

.btn-menu {
    display: none;
    background-color: inherit;
    border: none;
    font-size: 1.5em;
}

.navbar {
    display: block;
    background-color: var(--bg-color);
    box-shadow: 1px 1px 10px #47748b;
}

.content-container {
    padding: 2em 4em;
    background: var(--bg-color);
}

.sidebar-content {
    position: fixed;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    background-color: rgba(0, 42, 77, 0.95);
    color: white;
}

#sidebar ul li {
    line-height: 10px;
    padding: 1em 1em;
}

#sidebar.active {
    margin-left: -250px;
}

.sidebar-header img {
    margin: 0;
    padding: 1em 2.5em;
    width: 100%;
    border-bottom: 1px solid #47748b;
}

#sidebar ul.components {
    padding: 1em 1em 0 1em;
    border-bottom: 1px solid #47748b;
}

#sidebar ul li a {
    color: white;
    font-size: 1em;
    display: block;
    padding-bottom: 0.5em;
    text-decoration: none;
}

#sidebar ul li a:hover {
    border-bottom: 1px solid #47748b;
}

ul ul a {
    font-size: 0.9em !important;
}

#pageSubmenu {
    padding-top: 0.5em;
}

@media (max-width: 768px) {
    .navbar {
        padding: 0;
    }

    .btn-menu {
        display: block;
    }

    #sidebar {
        margin-left: -250px;
    }

    #sidebar.active {
        margin-left: 0;
    }

    .nav-item img {
        width: 60%;
    }

    .content-container {
        padding: 1em 0.5em;
    }

    .content-container h2 {
        font-size: 1.5em;
    }

    .card-body,
    .car-detail {
        font-size: 0.8em;
    }

    .license-plate {
        font-size: 1em;
    }

    .avt img {
        margin: 0.8em;
        width: 50px;
    }

    .info img {
        width: 15px;
    }

    .card .info {
        margin: 0.2em 0;
    }

    .card .more {
        align-self: flex-start;
        justify-content: flex-start;
    }

    .clip-btn,
    .btn {
        font-size: 0.8em;
        padding: 0.8em 0;
    }
}

.search-bar {
    font-family: var(--font-1);
    padding: 1rem 0.5rem;
    width: 100%;
}

.search-bar .search-input {
    border: none;
    border-bottom: 1px solid var(--navy);
    background-color: var(--bg-color);
    margin: 0 1rem;
    /* border: 2px solid black; */
    vertical-align: bottom;
    padding-top: 1.25rem;
}

#SearchModal {
    padding: 0;
}

.search-btn {
    padding-top: 1.25rem;
}

.modal-frame {
    width: 100%;
}

.modal-top {
    position: absolute;
    top: 0;
    max-width: 100vw !important;
    margin: 0;
    border-radius: 0;
}

.modal-top .modal-content {
    position: relative;
    width: 100%;
    justify-content: center;
    align-content: space-around;
    align-items: center;
    border-radius: 0;
}

.modal-top .modal-content input[type="text"] {
    width: 60%;
}
