#logo {
}

body {
  background-color: #ebeff5;
}

.main {
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.online {
  background-color: #7cd1c0;
}

.offline {
  color: black;
  background-color: white;
}

.newClass {
  color: white;
  background-color: greenyellow;
}

.offline3 {
  color: black;
  background-color: white;
}
