#logo {
}

body {
  background-color: #ebeff5;
}

.main {
  min-height: 70vh;
}

.main2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
}

.online {
  background-color: #7cd1c0;
}

.offine {
  background-color: gray;
}
