.middle-text {
    font-family: var(--font1);
    font-style: italic;
    font-weight: 500;
      font-size: 1.5rem;
      /* color: #004680; */
      text-align: center;
      margin: 1em;
    padding: 0;
  }
  
  .container section {
    margin: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .background {
    flex-grow: 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
  }
  
  /* .about-section .img-wrapper, .definition .img-wrapper { */
  .img-wrapper {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    padding-left: 0;
    width: 100%;
  }
  
  .section-content {
    background: none;
    z-index: 999;
    position: absolute;
  }
  
  /* ABOUT SECTION */
  .section1, .about-section {
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
    /* background: url(../images/about-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; */
    /* margin: 0;
    width: 100%;
    height: 100vh;
    position: relative;
    align-items: center;
    justify-content: center; */
  }
  
  .about-section .about-background {
    background-image: url('../images/web/about-background.png');
    /* flex-grow: 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0; */
  }
  
  .about-section .about-content {
    display: flex;
    flex-direction: column;
    align-content: center;
    color: white;
    font-size: 40px;
    /* background: none;
    z-index: 999;
    position: absolute; */
  }
  
  .about-section .about-content .title {
    font-size: 3.5rem;
    text-align: center;
    font-weight: bold;
    background: none;
    margin: 0.125em;
  }
  
  .about-section .about-content .subtitle {
    font-size: 1.7rem;
    background: none;
    margin-top: 0.125em;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  .about-section .btn {
    /* background-image: linear-gradient(to right top, var(--yellow), var(--amber))!important; */
      /* border-radius: 2em!important; */
  }
  
  .about-section .btn:hover {
    /* background-image: linear-gradient(to right top, #eb5e0b, #FFBE0F)!important; */
  }
  
  /* DEFINITION SECTION */
  .section2, .definition-section {
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
  }
  
  .definition-background {
    background: url('../images/definition-background.jpg');
  }
  
  .definition-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 4rem 0 4rem;
    /* border: 1px solid red; */
  }
  
  .definition-content .leftside {
    width: 40%;
    float: left;
    justify-content: center;
    align-items: center;
    padding: 3em 1em 1em 3em;
    margin: 0 3rem 0 3rem;
  }
  
  .definition-content img {
    width: inherit;
    box-shadow: -2.2rem -2.2rem var(--navy);
  }
  
  .definition-content .rightside {
    display: flex;
    flex-direction: column;
    width: 40%;
    float: right;
    font-family: var(--font2);
    font-size: 1.5rem;
    text-align: justify;
    vertical-align: middle;
    margin: 0 3rem 0 1rem;
  }
  
  .definition-content .rightside .title {
    font-family: var(--font1);
    font-weight: 600;
  }
  
  /* FEATURES SECTION */
  .section3, .features-section {
    background-color: var(--black-pearl);
  }
  
  .features-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: var(--bg-color);
  }
  
  .features-content div {
    display: flex;
    flex-direction: column;
    text-align: justify;
    width: 30%;
    margin: 3rem 2rem;
  }
  
  .features-content div img {
    width: 100%;
    margin-bottom: 1rem;
  }
  
  .features-content .rectangle {
    margin: 1.25rem;
    padding: 0.2em 0.8em;
    font-family: 'Raleway', sans-serif !important;
    font-weight: 400;
    font-size: 1rem;
      background: var(--selective-yellow);
      text-align: center;
      justify-content: center;
    align-self: center;
      font-size: 2vw;
      color: var(--black-pearl);
  }
  
  /* CALL TO ACTION SECTION / REGISTER SECTION */
  .section4, .register-section {
    display: flex;
    flex-direction: column;
    min-height: 120vh;
    position: relative;
    overflow: hidden;
    height: max-content;
    clear: both;
  }
  
  .register-background {
    background-image: url('../images/call-to-action-background.png');
  }
  
  .register-content, .call-to-action {
    display: flex;
    flex-direction: row;
    /* border: 2px solid pink; */
    width: 100%;
  }
  
  .call-to-action .leftside {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    width: 45%;
    font-family: var(--font1);
    font-weight: 500;
    font-size: 3.5rem;
    color: var(--yellow);
    justify-content: center;
    align-items: center;
    padding: 0 3rem 0 6rem;
  }
  
  .call-to-action .rightside {
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    width: 55%;
    padding: 3rem 6rem;
    color: var(--bg-color);
  }
  
  .cta-form {
    background: rgba(0, 42, 77, 0.7);
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .call-to-action .cta-form .title {
    font-family: var(--font1);
    font-weight: 500;
    font-size: 1.5rem;
    text-align: center;
  }
  
  .call-to-action .cta-form .subtitle {
    font-family: var(--font2);
    font-weight: normal;
    font-size: 1.1rem;
    text-align: center;
  }
  
  .call-to-action .cta-form form {
    width: 100%;
  }
  
  .cta-form input {
    width: 100%;
  }
  
  .cta-form .form-group:last-child {
    display: flex;
    justify-content: center;
  }
  
  /* FOOTER */
  footer {
    background-color: var(--dark-navy);
  }
  
  .logo {
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    padding: 2em 0;
  }
  
  .options {
      display: flex;
      flex-direction: column;
      justify-content: center;
  }
  
  .options a {
      color: #FF9800;
      font-size: 1.5vw;
      line-height: 8vh;
      text-decoration: none;
  }
  
  .options a:hover {
      color: white;
      transition: .2s;
  }
  
  .contact {
      font-size: 1vw;
      padding: 2em 0;
  }
  
  .contact h1 {
      color: #FF9800;
      padding-bottom: 0.2em;
  }
  
  .contact p {
      color: white;
      font-size: 1.4vw;
  }
  
  .contact div {
      display: grid;
      grid-template-columns: 60px 60px 60px;
      grid-column-gap: 20px;
      padding-top: 0.5em;
  }
  
  .contact div a {
      width: 50px;
    height: 50px;
      border-radius: 50%;
    background-color: #FF9800;
    text-align: center;
    text-decoration: none;
  }
  
  .contact div i {
      font-size: 30px;
      color: white;
      display: block;
      padding-top: 10px;
  }
  
  @media (max-width: 768px) {
  
      .options a {
          color: var(--yellow);
          font-size: 2.5vw;
          line-height: 3vh;
      }
  
      .contact {
          padding-top: 3em;
      }
  
      .contact h1 {
          color: var(--yellow);
          padding-bottom: 0.2em;
          font-size: 2vw;
      }
  
      .contact p {
          color: white;
          font-size: 2vw;
          line-height: 1em;
      }
  
      .contact div {
          display: grid;
          grid-template-columns: 60px 60px 60px;
          grid-column-gap: 20px;
          padding-bottom: 2em;
      }
  
      .contact div a {
          width: 35px;
        height: 35px;
      }
  
      .contact div i {
          font-size: 20px;
        padding-top: 8px;
      }
  }