{% extends 'accounts/main.html' %}
{% load static %}

{% block content %}
<div class='container'>
    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <h5>Cars</h5>
            </div>
            <div class="card card-body">
                <table class="table">
                    <tr>
                        <th>Name</th>
                        <th>Driver Name</th>
                        <th>Rasp Name</th>
                        <th></th>
                        <th></th>
                    </tr>

                    {% for car in cars %}
                    <tr>
                        <td>{{ car.name }}</td>
                        <td>{{ car.driver.profile.name }}</td>
                        <td>{{ car.raspdevice.name }}</td>
                        <td><a href="{% url 'updateCar' car.id %}" class="btn btn-primary">Update</a></td>
                        <td><a href="{% url 'deleteCar' car.id %}" class="btn btn-danger">Delete</a></td>
                    </tr>
                    {% endfor %}

                </table>
            </div>
        </div>

    </div>

    {% if request.user.profile.role == 'admin' %}
    <a href="{% url 'addCar' %}" class="btn btn-primary">Add Car</a>
    {% endif %}
    {% for message in messages %}
    <p style="color: red; font-weight: bold;">{{message}}</p>
    {% endfor %}
</div>
{% endblock %}