{% extends 'accounts/main.html' %}
{% load static %}

{% block content %}
<div class='container'>
    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <h5>Raspberry Devices</h5>
            </div>
            <div class="card card-body">
                <table class="table">
                    <tr>
                        <th>Device Name</th>
                        <th>Car Name</th>
                        <th>Status</th>
                        <th>Date Created</th>
                        <th></th>
                        <th></th>
                    </tr>

                    {% for rasp in rasps %}
                    <tr>
                        <td>{{ rasp.name }}</td>
                        <td>{{ rasp.car.name }}</td>
                        <td>{{ rasp.status }}</td>
                        <td>{{ rasp.date_created }}</td>
                        <td><a href="{% url 'raspUpdate' rasp.id %}" class="btn btn-primary">Update</a></td>
                        <td><a href="{% url 'raspDelete' rasp.id %}" class="btn btn-danger">Delete</a></td>
                    </tr>
                    {% endfor %}

                </table>
            </div>
        </div>

    </div>

    {% if request.user.profile.role == 'admin' %}
    <a href="{% url 'raspAdd' %}" class="btn btn-primary">Add Device</a>
    {% endif %}
    {% for message in messages %}
    <p style="color: red; font-weight: bold;">{{message}}</p>
    {% endfor %}
</div>
{% endblock %}