{% extends 'accounts/main.html' %}
{% load static %}

{% block content %}
<div class='container'>
    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <h5>Users</h5>
            </div>
            <div class="card card-body">
                <form method="get">
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text">Name<i class="fas fa-user"></i></span>
                        </div>
                        {{filter.form.name}}
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text">Role<i class="fas fa-user"></i></span>
                        </div>
                        {{filter.form.role}}
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text">Phone<i class="fas fa-user"></i></span>
                        </div>
                        {{filter.form.phone}}
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text">Email<i class="fas fa-user"></i></span>
                        </div>
                        {{filter.form.email}}
                    </div>
                    <button class="btn btn-primary" type="submit">Search</button>
                </form>
            </div>
            <div class="card card-body">
                <table class="table">
                    <tr>
                        <th>Username</th>
                        <th>Fullname</th>
                        <th>Role</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th></th>
                    </tr>

                    {% for profile in profiles %}
                    <tr>
                        <td>{{ profile.user.username }}</td>
                        <td>{{ profile.name }}</td>
                        <td>{{ profile.role }}</td>
                        <td>{{ profile.phone }}</td>
                        <td>{{ profile.email }}</td>
                        <td><a href="{% url 'profile' profile.id %}" class="btn btn-primary">View</a></td>
                    </tr>
                    {% endfor %}

                </table>
            </div>
        </div>

    </div>

    {% if request.user.profile.role == 'admin' %}
    <a href="{% url 'addUser' %}" class="btn btn-primary">Add User</a>
    {% endif %}
    {% for message in messages %}
    <p style="color: red; font-weight: bold;">{{message}}</p>
    {% endfor %}
</div>
{% endblock %}